body{
	margin:0;

}

	


header{	
	background-image:url(https://a0.muscache.com/im/pictures/e25f5be3-a60e-43ef-9f8f-dde79f4e98ca.jpg?im_q=highq&im_w=720);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	padding-bottom:100px;

}

.header{
	padding-top:10px;
}


.header-logo p{
	font-size:24px;
	color:#FF3366;
	font-weight: bold;
	margin-left:80px;
}

.header-select{
	text-align:center;
	margin-top:-50px;
}

.header-select a:hover{
	text-decoration: underline;
}

.header-select a{
	margin-right:30px;
	font-size:18px;
	font-weight:lighter;
	text-decoration: none;
	color:black;
}

.header-right{
	display: inline;
	float: right;
	margin-top:-25px;
	margin-right:100px;	
}

.header-right a{
	text-decoration: none;
	color:black;
	font-weight:600;
	margin-right:30px;
}

.header-menu{
	margin-top:20px;
}

.header-contents{
	height:40px;
	float:left;
	position: relative;
	left:300px;
	padding:15px 40px 5px 20px;
	border-radius: 30px;
}

.header-contents:hover{
	background-color: #dddddd;
	cursor: pointer;
}

.header-contents div{
	line-height: 0.3em;
	font-size: 14px;
	font-weight: bold;
}

.header-contents p{
	line-height: 0.3em;
	font-size: 14px;
	color:#888888;

}

.clear{
	clear:both;
}


.header-title{
	width:25%;
	margin:80px 0 0 100px;
}

.header-title h1{
	font-size:28px;
}

.header-main p{
	font-size:14px;
}

.header-title a{
	font-size:18px;
	color:black;
	font-weight:bold;
	text-decoration: none;
	background-color:black;
	color:white;
	border-radius: 20px;
	padding:5px 10px;
}


/*ここからmain*/


.main-sub{
	margin-top:50px;
}


.main-sub-contents{
	width:calc(33.33% - 40px);
	float:left;
	margin-left:15px;	
	margin-bottom:60px;

}

.main-sub-logo{
	width:100%;
	border-radius: 20px 20px 0 0;

}

.one,.two{
	margin-right:30px;
}

.main-sub-contents div{
	border-radius: 0 0 20px 20px;
	box-shadow: 5px 5px 5px -7px;
	height:80px;
	
} 

.main-sub-contents div h2{
	font-size: 18px;
	line-height: 0.8em;
	margin:7px 0 0 12px;
}

.main-sub-contents div p{
	font-size: 15px;
	line-height:1.2em;
	margin-left:10px;
	color:#666666;
}

.clear{
	clear:left;
}

/*ここからmain2*/

.main2{
	width:100%;
	margin:0 auto;
	background-color:black;
	height:920px;
	color:white;
}

.main2-contents{
	width:100%;
	padding-top:60px;
}


.main2-title{
	width:45%;
}


.main2-title h1,.main2-title div{
	margin-left:40px;
}

.main2-title h1{
	line-height: 0em;
	font-size:32px;
}

.main2-title div{
	line-height: 0.5em
	width:20%;

}


.main2-title-btn{
	float: right;
	display: block;
	margin-top: 10px;
	color:white;
	font-weight: bold;
	border-radius: 10px;
	border:solid 1px white;
	padding:5px 10px;
	text-decoration:none;
	margin-right:30px;
}

.main2-logo{
	margin-top: 30px;
}

.main2-logo-1{
	background-image: url("https://a0.muscache.com/im/pictures/38aeacb5-7e77-4bf6-a813-754605020922.jpg?im_w=480");
	width:600px;
	height:600px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius:20px;
	position:relative;
	margin-left:40px;
}


.main2-background-1{
	background-color: #333333;
	position: absolute;
	top:580px;
	height: 80px;
	width:600px;
	border-radius: 0 0px 20px 20px;
}

.main2-background-1 div{
	margin:15px 15px 0 15px;
	color:white;
	font-weight:bolder;
}

.main2-logo-2{
	background-image: url("https://a0.muscache.com/im/pictures/e77da774-9e72-46d6-a7fd-7d159f823046.jpg?im_w=240");
	position: absolute;
	left:670px;
	top:1135px;
	width:300px;
	height:300px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}


.main2-background-2,.main2-background-3 {
	background-color: #333333;
	position: absolute;
	top:240px;
	height: 80px;
	width:300px;
	border-radius: 0 0px 20px 20px;
}

.main2-background-2 div,.main2-background-3 div{
	margin:15px 15px 0 15px;
	color:white;
	font-weight:bolder;
}



.main2-logo-3{
	background-image: url("https://a0.muscache.com/im/pictures/7f607dbc-c51c-482e-8b67-55ded3e7f864.jpg?im_w=240");
	position: absolute;
	left:1000px;
	top:1135px;
	width:300px;
	height:300px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}


	
.main2-logo-4{
	background-image: url("https://a0.muscache.com/im/pictures/d88db0e7-ef5b-49c6-ae07-af3525ac252f.jpg?im_w=480");
	position: absolute;
	left:670px;
	top:1480px;
	width:620px;
	height:310px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	
}

.main2-background-4{
	background-color: #333333;
	position: absolute;
	top:235px;
	height: 80px;
	width:620px;
	border-radius: 0 0px 20px 20px;
}

.main2-background-4 div{
	margin:15px 15px 0 15px;
	color:white;
	font-weight:bolder;
}


/*ここから.info*/

.info{
	margin:60px 0 0 60px;
	width:100%;
	height:300px;

}


.corp-info, .community-info, .host-info, .support-info{
	margin-bottom: 15px;
	font-size: 12px;
	font-weight: bolder;

}

.info-contents{
	width:25%;
	float:left;
}

.info-contents a{
	color:black;
	font-size: 12px;
	display:block;
	margin-bottom: 15px;
	text-decoration:none;

}

.info-contents a:hover{
	text-decoration: underline;
}

/*ここからfooter*/

footer{
	width:100%;
	margin:60px 0 30px 0;
	border-top:solid 1px #cccccc;
}

.footer{
	margin-top:20px;
}

.footer-right{
	font-size: 14px;
	text-decoration:none;
	color:black;
	float:right;
	margin-right:30px;
}

.footer-right div{
	display: inline;
}

.footer-info{
	margin-right:50px;
}

.footer-right a{
	margin-right:20px;
	font-size: 14px;
	font-weight:bolder;
	color:black;

}

.footer-left a{
	font-size:14px;
	text-decoration: none;
	color:black;

}

.footer-left a:hover{
	text-decoration:underline;